<nav class="nav">
  <div class="nav-inner">
    <div class="brand">
      <span class="logo-mark"></span>
      <a href="./index.html"><b>DERKLAN-STUDIO</b></a>
    </div>
    <div class="nav-links">
      <a href="./jeux.html" class="nav-link" data-page="jeux">JEUX</a>
      <a href="./studio.html" class="nav-link" data-page="studio">STUDIO</a>
      <a href="./actualites.html" class="nav-link" data-page="actualites">DEVLOG</a>
      <a href="./presse.html" class="nav-link" data-page="presse">PRESSE</a>
    </div>
    <a class="nav-cta" href="./contact.html">CONTACT</a>
  </div>
</nav>
